<ul class="list_article">
  <% @articles.each do |article| %>
  <li>
    <h2><%= article.title %></h2>
    <% if article.image != "" %>
      <p><img src="<%= article.image %>"></p>
    <% end %>
      <a href="">
       <span>投稿者</span><%= article.user.nickname %>
      </a>
    <p><%= article.text %></p>
    <p><%= article.created_at %></p>
  </li>
  <% end %>
  <%= paginate(@articles) %>
</ul>