<ul class="list_article">
  <% @articles.each do |article| %>
  <li>
    
    <a href="">
       <span>投稿者</span><%= article.user.nickname %>
    </a>
    <p style="font-size: 31px; color: #33CC99; font-weight: 800;"><%= article.title %></p>
    
    <p style="color: #33CC99;"><%= article.text %></p>
    <% if article.image != "" %>
      <p><img src="<%= article.image %>"></p>
    <% end %>
  
    <p style="color: #33CC99;"><%= article.created_at %></p>
    
    <% if user_signed_in? && current_user.id == article.user_id %>
      <%= link_to 'この投稿を削除', "/blogs/#{article.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <%= link_to 'この投稿を編集', "/blogs/#{article.id}/edit", method: :get %>
  　<% end %> 
    <p>---------------------------------------------------------------------------------------------------------------------------------------------</p>
  </li>
  <% end %>
  <%= paginate(@articles) %>
</ul>