<ul class="list_article">
  <p><%= @nickname %>の今までの投稿</p>
  <% @articles.each do |article| %>
  <li>
    <div class="article_user_one">
      <print>投稿者<%= article.user.nickname %></print>
      <print class="article_title">【<%= article.title %>】</print>
      <p class="article_text"><%= article.text %></p>
    
      <% if article.image != "" %>
        <p><img src="<%= article.image %>"></p>
      <% end %>
  
      <p class="article_created"><%= article.created_at %></p>
    
  
    </div>
  </li>
  <% end %>
  <%= paginate(@articles) %>
</ul>