<div class="contents_user_login">
  <div class="user_login_title">
    <p>ログイン</p>
  </div>
  
  <div class="user_login">
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="user_login_email">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>



      <div class="user_login_password">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>



      <% if devise_mapping.rememberable? %>
        <div class="user_login_check_box">
          <%= f.label :パスワードを覚える -%><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>
    

      <div class="actions">
        <%= f.submit "ログインする" %>
      </div>
    <% end %>
    
  </div>
</div>