<!DOCTYPE html>
<html>
  <head>
    <style>
		a {
			text-decoration: none ;
		}
	  </style>
    <title>ブログ</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
  
  <body>
    
    
    <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6_header_top"><a class="header_title", href="/" style="text-decoration: none;">ブログ</a></h1>
      
      　
      
      <% if user_signed_in? %>
        <div class="user_nav grid-6 header_menu">
            <ul class="user__info">
              <li>
                <a href="/users/<%= current_user.id %>" style="text-decoration: none;">マイページ</a>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
            <div class="header_create">
              <a class="post" href="/blogs/new" style="text-decoration: none;">投稿しよう！</a>
            </div>
        </div>
        
        <div class="user_nabheader_user">
          <span><%= current_user.nickname %>がログイン中</spam>
        </div>
      <% else %>
      
        <div class="grid-6 header_before_user">
          <%= link_to "ログイン", user_session_path, class: 'post', :class => "header_login" %>
          <%= link_to "新規登録", user_registration_path, :class => "header_new_user" %>
        </div>
      <% end %>
    </div>
  </header>
    
    

    <%= yield %>

    <div class="footer_">
      <footer>
        <p>
          今日も自分をほめよう(^^)/
        </p>
      </footer>
    </div>
  </body>
</html>